h1,
h2 {
  text-align: center;
}
p {
  font-size: 50px;
}

.box {
  width: 303px;
  height: 71px;
  overflow: hidden;
}

.box .inside {
}
.active {
  position: relative;
  top: -300px;
  transition: all 2s;
  transform: translateY(300px);
}
.jackpot-start {
  background-color: rgb(255, 0, 140);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 2px;
  height: 70px;
}
.jackpot-end {
  background-color: rgb(255, 0, 140);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 10px;
  height: 70px;
}

#box1 {
  transition-delay: 0.5s;
}
#box2 {
  transition-delay: 0.9s;
}
#box3 {
  transition-delay: 1.2s;
}
